<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itsource.mapper.BrandMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.itsource.domain.Brand">
        <id column="id" property="id" />
        <result column="createTime" property="createTime" />
        <result column="updateTime" property="updateTime" />
        <result column="name" property="name" />
        <result column="englishName" property="englishName" />
        <result column="firstLetter" property="firstLetter" />
        <result column="description" property="description" />
        <result column="productTypeId" property="productTypeId" />
        <result column="sortIndex" property="sortIndex" />
        <result column="logo" property="logo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, createTime, updateTime, name, englishName, firstLetter, description, productTypeId, sortIndex, logo
    </sql>
    <select id="queryPageCount" resultType="java.lang.Long" parameterType="cn.itsource.query.BrandQuery" >
        SELECT
	      count( b.id )
        FROM
	      t_brand b
	    LEFT JOIN t_product_type p ON b.productTypeId = p.id
	    <include refid="whereSql"/>
    </select>
    
    <select id="queryPageList" resultType="cn.itsource.domain.Brand" parameterType="cn.itsource.query.BrandQuery">
        SELECT
	      b.*
        FROM
	      t_brand b
	    LEFT JOIN t_product_type p ON b.productTypeId = p.id
	    <include refid="whereSql"/>
        limit #{start},#{rows}
    </select>
    
    <sql id="whereSql">
        <where>
            <if test="keyword !=null and keyword != '' ">
                b.name LIKE concat ('%',#{keyword},'%') OR b.description LIKE concat ('%',#{keyword},'%')
            </if>
        </where>
    </sql>

</mapper>
